PORT=3001

SQLDB_PROD_USER=sa
SQLDB_PROD_PASS=
SQLDB_PROD_HOST=localhost
SQLDB_PROD_DIALECT=mssql
SQLDB_PROD_DATABASE=CloudMetrics
OVERRIDE=active || non-active

MONGOOSE_USR=
MONGOOSE_PASS=
MONGOOSE_URL=
MONGOOSE_NAME=ArchieDashboard
MONGOOSE_URI=mongodb+srv://$MONGOOSE_USR:$MONGOOSE_PASS@$MONGOOSE_URL/?appName=$MONGOOSE_NAME